@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
* { margin: 0; padding: 0; }
.module {
  width: 155px;
  text-align: right;
  overflow: hidden;
}

.title{
 
  text-align: center;
}
p.title{
  font-size: 50px;
}
.center-calculadora{


  background: rgb(255, 255, 255);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondo{
  background: rgb(255, 255, 255);
    width: 200px;
  height: 250px;
 padding-right: 5px;
 padding-left: 5px;
  padding-top: 5px;
}
.div{
  margin-top: 5px;
  margin-bottom: 1px; 
 
}
.pantalla{
 
text-align: right;
   justify-content: center;
  background: rgb(180, 39, 39);
  width: 155px;
  height: 30px;

 
}
button{
  cursor: pointer;
    width: 35px;
  height: 35px;
  margin-right: 1px;
  margin-left: 1px;
  background: rgba(218, 218, 219, 0.997);
    border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
}
.button2{
  
    width: 35px;
  height: 35px;
  margin-right: 1px;
  margin-left: 1px;
  background: rgba(85, 158, 230, 0.997);
    border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
}
.button2:active{
  background: rgba(131, 163, 194, 0.997);
}
button:active{
  background: rgba(85, 158, 230, 0.997);
}
p{
   
font-family: 'Roboto', sans-serif;
text-overflow: ellipsis;
}